:root {

    --background-primary: #060A14;
    --background-secondary: #090E1C;
    --background-tertiary: #0D1325;
    --background-quaternary: #111827;

    --text-primary: #F0F4FF;
    --text-secondary: #F0F4FF;
    --text-tertiary: #F0F4FF;

    --border-primary: rgba(255, 255, 255, .06);
    --border-secondary: rgba(255,255,255,.05);
    --border-tertiary: rgba(255,255,255,.10);
    --border-quaternary: rgba(255,255,255,.04);

    --succes: #10B981;
    --error: #EF4444;
    --info: #3B82F6;
    --lazer: #8B5CF6;
    --warning: #F97316;
    --teal-extra: #14B8A6;

    --ambar: #F59E0B;
    --esmeralda: #10B981;
    --azul: #3B82F6;
    --rosa: #EC4899;
    --violeta: #8B5CF6;
    
    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

}