.sidebar {
    background-color: var(--background-secondary);
    height: 99.5vh;
    width: 16rem;
    max-width: 20vw;
    padding: 1rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8rem;
    padding: 2rem;
}

.sections {
    flex: 1;
}

.section {
    color: var(--text-tertiary);
    font-size: larger;
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: .8rem 1rem;
    margin: .8rem 0;
    cursor: pointer;
    margin-bottom: auto;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

.section svg {
    display: flex;
    align-items: center;
    gap: .4rem;
    color: var(--text-tertiary);
}

.activeSection {
    color: var(--ambar) !important;
    background-color: rgba(265, 165, 0, .1);
    border-radius: .8rem;
    font-weight: 700;
    box-shadow: -.2rem 0 0 rgba(255, 165, 0, 1);
}

.activeSection svg {
    color: var(--ambar);
}

.logoutContainer {
    margin-top: auto;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .2rem;
    color: var(--text-tertiary);
    cursor: pointer;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

.logout:hover, .section:hover {
    color: var(--text-primary);
}