.ambar {
    color: var(--ambar) !important;
    box-shadow: -.2rem 0 0 var(--ambar);
    background-color: rgb(from var(--ambar) r g b / 10%);
    --selected-color: var(--ambar);
}

.rosa {
    color: var(--rosa) !important;
    box-shadow: -.2rem 0 0 var(--rosa);
    background-color: rgb(from var(--rosa) r g b / 10%);
    --selected-color: var(--rosa);
}

.violeta {
    color: var(--violeta) !important;
    box-shadow: -.2rem 0 0 var(--violeta);
    background-color: rgb(from var(--violeta) r g b / 10%);
    --selected-color: var(--violeta);
}

.esmeralda {
    color: var(--esmeralda) !important;
    box-shadow: -.2rem 0 0 var(--esmeralda);
    background-color: rgb(from var(--esmeralda) r g b / 10%);
    --selected-color: var(--esmeralda);
}

.azul {
    color: var(--azul) !important;
    box-shadow: -.2rem 0 0 var(--azul);
    background-color: rgb(from var(--azul) r g b / 10%);
    --selected-color: var(--azul);
}

.sidebar {
    background-color: var(--background-secondary);
    height: 99.5vh;
    width: clamp(16rem, 20vw, 18rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8rem;
    padding: 2rem 1.2rem 2rem 2rem;
    position: sticky;
    top: 0;
    left: 0;
}

.sections {
    flex: 1;
}

.section {
    color: var(--text-tertiary);
    font-size: larger;
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: .8rem 1rem;
    margin: .8rem 0;
    cursor: pointer;
    margin-bottom: auto;
    width: 100%;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

.section svg {
    display: flex;
    align-items: center;
    gap: .4rem;
    color: var(--text-tertiary);
}

.activeSection {
    border-radius: .8rem;
    font-weight: 700;
}

.activeSection svg {
    color: var(--selected-color);
}

.logoutContainer {
    margin-top: auto;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .2rem;
    color: var(--text-tertiary);
    cursor: pointer;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
    text-decoration: none;
}

.logout:hover, .section:hover {
    color: var(--text-primary);
}