.cards {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
}


.arrowUpIcon svg {
    background-color: rgba(13, 41, 49);
    color: rgb(14, 157, 113);
    padding: .4rem;
    border-radius: .4rem;
}

.arrowDownIcon svg {
    background-color: rgba(43, 25, 41);
    color: rgb(228, 64, 65);
    padding: .4rem;
    border-radius: .4rem;
}

.ambar {
    color: var(--ambar) !important;
    background-color: rgb(from var(--ambar) r g b / 10%);
    --selected-color: var(--ambar);
}

.rosa {
    color: var(--rosa) !important;
    background-color: rgb(from var(--rosa) r g b / 10%);
    --selected-color: var(--rosa);
}

.violeta {
    color: var(--violeta) !important;
    background-color: rgb(from var(--violeta) r g b / 10%);
    --selected-color: var(--violeta);
}

.esmeralda {
    color: var(--esmeralda) !important;
    background-color: rgb(from var(--esmeralda) r g b / 10%);
    --selected-color: var(--esmeralda);
}

.azul {
    color: var(--azul) !important;
    background-color: rgb(from var(--azul) r g b / 10%);
    --selected-color: var(--azul);
}

.esmeralda, .azul, .rosa, .ambar, .violeta {
    padding: .4rem .6rem;
    border-radius: .4rem !important;
}

.charts {
    display: flex;
    gap: 2rem;
}

.cardChartLine {
    background-color: var(--background-tertiary);
    margin-top: 2rem;
    padding-bottom: .8rem;
    box-sizing: border-box;
    width: 100%;
    max-height: 40vh;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: .8rem;
}

.cardPieChart {
    background-color: var(--background-tertiary);
    margin-top: 2rem;
    padding-bottom: .8rem;
    box-sizing: border-box;
    max-height: 40vh;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: .8rem;
    width: 30%;
}

.body {
    box-sizing: border-box;
    width: 80%;
    margin: auto;
}

